* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

/*Header start*/
.header {
    display: flex;
    align-items: center;
    height: 120px;
    background: rgb(114, 114, 114);
}

.header-content-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.nav-list {
    display: flex;
    text-align: center;
    justify-content: end;
    gap: 40px;
    list-style-type: none;
}

.nav-links {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-links:hover {
    opacity: .65;
}
/*Header stop*/


/*About me start*/
.about-me-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-photo {
    border-radius: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-name {
    font-size: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 25px;
}

.user-proffesion {
    font-size: 25px;
    color: #2483d5;
    line-height: 70px;
}

.hr-about-me {
    height: 5px;
    background: #8b9ac3;
    border: 0;
    margin: 30px 0 0 0;
}
/*About me stop*/


/*Section conteiner start*/
.section-conteiner-iteam {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-conteiner {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 0 80px;
}

.hr-user-name {
    margin: -48px auto 0px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    width: 95%;
}

.vl {
    box-shadow: 0 20px 20px -20px #333;
    border-left: 2px solid rgb(114, 114, 114);
    height: 275px;
}

.hr-all-section {
    width: 80%;
    height: 2px;
    background: cornflowerblue;
    border: 0;
}

.title {
    font-size: 25px;
    text-transform: uppercase;
    color: cornflowerblue;
    letter-spacing: 5px;
    line-height: 60px;
}

.title-line {
    height: 3px;
    background: #727272;
    border: 0;
}

.info {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 33px;
    margin-bottom: 6px;
    background: #60606042;
}

.info-link {
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 19px;
    color: #a9a414;
}

.info-link:hover {
    opacity: .75;
}

.description {
    letter-spacing: normal;
    font-size: 21px;
    line-height: 30px;
    text-transform: none
}
/*Section conteiner stop*/


/*Footer start*/
    .footer {
        display: flex;
        align-items: center;
        height: 165px;
        background: #383838;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

   .years {
       font-size: 23px;
   }
/*Footer stop*/
