* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

hr {
    margin: -48px auto 0px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    width: 95%;
}

/*Header start*/
.header {
    display: flex;
    align-items: center;
    height: 120px;
    background: rgb(114, 114, 114);
}

.header-content-nav {
    list-style-type: none;
}

.nav-list {
    display: flex;
    text-align: center;
    justify-content: end;
    gap: 40px;
    list-style-type: none;
}

.nav-links {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-links:hover {
    opacity: .65;
}
/*Header stop*/


/*About me start*/
.about-me-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-photo {
    border-radius: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 70px;
}

.user-name {
    font-size: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 45px;
}

.user-proffesion {
    font-size: 25px;
    color: #2483d5;
    line-height: 70px;
}

.hr-about-me {
    height: 5px;
    background: #8b9ac3;
    border: 0;
    margin: 30px
}
/*About me stop*/